*{
    color: white;
}
body{
	font-family: arial, helvetica;
	background: #e8e8e8;
    background-image: url(./media/1366_2000.jpeg);
    background-size: cover;
}
nav{
    background: #48055c;
    height: 80px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 40px;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #8a8aaf;
    transition: .5s;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
header{
	background-color: crimson;
	color: white;
}
main{
	background-color: #18055c;
    color: white;
}
.contacto-email{
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.555);
}
.button-email{
    color: black;
}
footer{
    background-color: #000;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 20px;
}
footer i{
    letter-spacing: 20px;
    font-size: 40px;
    color: #48055c;
    margin-top: 20px;
}
@media (max-width: 952px){
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: flex;
    }
    nav{
        padding: 0 30px;
    }
    ul{
        position: absolute;
        width: 100%;
        height: calc(100vh - 80px);
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        z-index: 10;
    }
    nav ul li{
        margin: 20px 0;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        //background: #000090;
        //color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}